<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
      defer
    ></script>
  </head>

  <body hx-boost="true">
    <div class="header">
      <h1>Recipes</h1>
    </div>
    <section class="main-section">
      <div class="home-container">
        <a href="/recipes/new">Create recipe</a>
        <a href="/recipes/dashboard">See recipes</a>
      </div>
    </section>
  </body>
</html>
